body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo img {
    max-height: 50px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.user-buttons {
    display: flex;
    align-items: center;
}

.apple-button {
    display: flex;
    align-items: center;
}

.apple-button img {
    max-height: 40px;
}

.button-text {
    margin-left: 10px;
}

.slider {
    /* Styles for the slider */
    height: 300px; /* Adjust the height as needed */
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}
