body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F1BF32;
    color: #fff;
    padding: 10px;
}

.logo img {
    max-height: 50px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.user-buttons {
    display: flex;
    align-items: center;
}

.apple-button {
    display: flex;
    align-items: center;
}

.apple-button img {
    max-height: 40px;
}

.button-text {
    margin-left: 10px;
}

.slider {
    /* Styles for the slider */
    height: 300px; /* Adjust the height as needed */
    background-color: #f4f4f4;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    position: relative;
    text-align: center;
}

.slide-content {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    display: none;
    transition: display 0.3s ease; /* Adds a transition to enhance animation */
}

.slide-content.expanded {
    display: block;
}

.expand-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}